div.result
{
    background-color:#fff;
    padding: 10px 10px;
    margin: 10px 0;
text-align: left;
}

div.alternate
{
    background-color:#eee;
    border-radius: 4px;
    padding: 10px 10px;
    margin: 10px 0;
text-align: left;
}

p.context
{
    /*border-bottom-style:solid;
    border-width:1px;
    border-color:#333333;*/
    padding:5px;
text-align: left;
}

span.hi
{
    background-color:#ffff99;
text-align: left;
}

/*.referencedElementsTitle {
    background-color: #fff;
    border-radius: 4px;
    color: #666;
    display: block;
    margin-bottom: 5px;
    padding: 5px 10px;
    text-decoration: none;
}*/

/*.referencedElementsTitle:hover {
    text-decoration: underline;
}*/

/*.referencedElementsList {
    background-color: #fff;
    border-radius: 4px;
    color: #333;
    margin: 5px 0;
    padding: 5px 10px;
    width: auto;
}*/
