/* ******************************* */
/* *** Generelle formateringer *** */
/* ******************************* */

body {margin:0px;}
.mainleftborder {border-right:1px solid #666;}
.mainrightborder {border-left:1px solid #666;}
.mainleft {}
.mainright {}
.frametable {margin-top:20px;height:600px;}
.topmenu {height:30px;}
.greylabel {background-color:#666666;}
.header {height:129px}
.label {height:20px;}
.globalnavigation {height:24px;}
.main {margin-top:20px;height:100%;}
.bottomspacer {height:20px;}
.footerframe {height:20px;}
.news {}

H1		{ font-family: verdana,arial,helvetica,sans-serif; color: #666; font-size: 14pt;  font-weight:normal; text-align: left; padding: 0px; margin-top: 0px; margin-bottom:0px; }
H2 		{ font-family: verdana,arial,helvetica,sans-serif; color: #ec7c0c; font-size: 8pt;  font-weight:normal; text-align: left; padding: 0px; margin-top: 2px; margin-bottom:0px; }
.main H2 		{ font-family: verdana,arial,helvetica,sans-serif; color: #333; font-size: 8pt;  font-weight:bold; text-align: left; padding: 0px; margin-top: 2px; margin-bottom:0px; }
.news H2 		{ font-family: verdana,arial,helvetica,sans-serif; color: #ec7c0c; font-size: 8pt;  font-weight:normal; text-align: left; padding: 0px; margin-top: 2px; margin-bottom:0px; }
H3		{ font-family: verdana,arial,helvetica,sans-serif; color: #000080; font-size: 8pt;  font-weight:bold; text-align: left; padding: 0px; margin-top: 12px; margin-bottom:0px; }
H4		{ font-family: verdana,arial,helvetica,sans-serif; color: #000080; font-size: 7pt;  font-weight:bold; text-align: left; padding: 0px; margin-top: 0px; margin-bottom:0px; }
HR		{ color:#000080; height:1px; }
FIELDSET { padding:10px; }
FORM 	{ padding:0px; }

TD 		{ font-family: verdana,arial,helvetica,sans-serif; font-size: 8pt; color: #000000; }
BR, P	{ margin-top: 0px; margin-bottom: 0px; }
B 		{ color: #333; font-weight: bold; }

a			{ font-family: verdana,arial,helvetica,sans-serif; font-size: 8pt; color: #ec7c0c; }
a:link		{ color: #ec7c0c; text-decoration: none; }
a:visited	{ color: #ec7c0c; text-decoration: none; }
a:active 	{ color: #ec7c0c; text-decoration: none; }
a:hover		{ color: #666; text-decoration: none; }

/* ************************************ */
/* ***	Landing page formats	          *** */
/* ************************************ */
strong.lp 	{ color: #666; text-align: left; padding: 0px; margin-top: 0px; margin-bottom:0px; }
p.lp		{ text-align: left; padding: 0px; margin-top: 2px; margin-bottom:4px; }
h1.lp		{ font-family: verdana,arial,helvetica,sans-serif; font-size: 14pt; color:#333; font-weight:normal; text-align: left;  padding: 0px; margin-top: 4px; margin-bottom:2px; }
h2.lp		{ font-family: verdana,arial,helvetica,sans-serif; color: #000080; font-size: 8pt;  font-weight:bold; text-align: left; padding: 0px; margin-top: 8px; margin-bottom:2px; }
h3.lp		{ font-family: verdana,arial,helvetica,sans-serif; color: #333; font-size: 8pt;  font-weight:bold; text-align: left; padding: 0px; margin-top: 6px; margin-bottom:2px; }

.lph2		{ font-family: verdana,arial,helvetica,sans-serif; color: #000080; font-size: 8pt;  font-weight:bold; text-align: left; padding: 0px; margin-top: 8px; margin-bottom:2px; }

.lplink a			{ font-size: 8pt; color: #000; }
.lplink a:link	{ color: #000; background-color: transparent; text-decoration: none; }
.lplink a:visited	{ color: #000; background-color: transparent; text-decoration: none; }
.lplink a:active	{ color: #000; background-color: transparent; text-decoration: none; }
.lplink a:hover	{ color: #c97624; background-color: transparent; text-decoration: none; }

.lporderButton 	{ width:100px;
				  background-color:#ffffff;
						border:1px solid #666;
						margin-right: 0px;
						cursor: hand;
						text-decoration: none;
}
.lporderText { 	color: #ec7c0c; 
				font-family: verdana,arial,helvetica,sans-serif; 
				font-size: 9pt; 
				font-weight: 
				bolder;padding: 0px 0px 0px 0px }

/* ************************************ */
/* *** search                                    *** */
/* ************************************ */
h1.search		{ font-family: verdana,arial,helvetica,sans-serif; font-size: 14pt; color:#333; font-weight:normal; text-align: left;  padding: 0px; margin-top: 4px; margin-bottom:2px; margin-left: 10px;} 
h2.search		{ font-family: verdana,arial,helvetica,sans-serif; color: #000080; font-size: 8pt;  font-weight:bold; text-align: left; padding: 0px; margin-top: 4px; margin-bottom:4px; }
h3.search		{ font-family: verdana,arial,helvetica,sans-serif; color: #333; font-size: 8pt;  font-weight:bold; text-align: left; padding: 0px; margin-top: 6px; margin-bottom:2px; }

strong.search		{ font-family: verdana,arial,helvetica,sans-serif; color: #000080; font-size: 8pt;  font-weight:bold; text-align: left; padding: 0px; margin-top: 8px; margin-bottom:2px; }
.searchoption           {vertical-align: middle}
.searchsimpleinput  {margin-left: 10px; margin-right: 10px;}
.searchadvanced  {font-weight:bold; color: #3e3f42;}
p.context
{
    /*border-bottom-style:solid;
    border-width:1px;
    border-color:#333333;*/
    padding:5px;
}

span.hi
{
    background-color:yellow;
}

.searchoption a:link	{ color: #000; background-color: transparent; text-decoration: none; }
.searchoption a:visited	{ color: #000; background-color: transparent; text-decoration: none; }
.searchoption a:active	{ color: #000; background-color: transparent; text-decoration: none; }
.searchoption a:hover	{ color: #c97624; background-color: transparent; text-decoration: none; }

.contextlink p		{ font-size: 8pt; color: #000080; }
.contextlink a:link	{ color: #000080; background-color: transparent; text-decoration: underline; }
.contextlink a:visited	{ color: #000; background-color: transparent; text-decoration: underline; }
.contextlink a:active	{ color: #000080; background-color: transparent; text-decoration: underline; }
.contextlink a:hover	{ color: #c97624; background-color: transparent; text-decoration: underline; }

.study, study.p { font-family: Verdana; font-size: 8pt; color: #000;font-variant:small-caps; text-decoration: none;}
.study a			{ font-family: verdana,arial,helvetica,sans-serif; font-size: 8pt; color: #000; }
.stydy a:link	{ color: #000; background-color: transparent; text-decoration: none; }
.study a:visited	{ color: #000; background-color: transparent; text-decoration: none; }
.study a:active	{ color: #000; background-color: transparent; text-decoration: none; }
.study a:hover	{ color: #c97624; background-color: transparent; text-decoration: none; }

.studyLarge, studyLarge.p { font-family: Verdana; font-size: 10pt; color: #000080;font-variant:small-caps; text-decoration: none; font-weight:bold;}
.studyLarge a			{ font-family: verdana,arial,helvetica,sans-serif; font-size: 10pt; color: #000080; font-weight:bold;}
.studyLarge a:link	{ color: #000080; background-color: transparent; text-decoration: none; }
.studyLarge a:visited	{ color: #000080; background-color: transparent; text-decoration: none; }
.studyLarge a:active	{ color: #000080; background-color: transparent; text-decoration: none; }
.studyLarge a:hover	{ color: #c97624; background-color: transparent; text-decoration: none; }

/* ************************************ */
/* *** Specialeserede formateringer *** */
/* ************************************ */

.bgpic1 { background-image: url("http://tool.sam-int.dk/images/fill/fronttop2.jpg"); background-position: 122px right; background-repeat: no-repeat;} 
.bgpic2	{ background-image: url("http://tool.sam-int.dk/images/fill/top.jpg"); background-position: right top; background-repeat: no-repeat; }

TABLE .topinclude		{ height:122px; }
.topinclude				{ color: #666666; font-family: verdana,arial,helvetica,sans-serif; font-size: 7pt;  font-weight:normal; }
.topinclude  a			{ color: #666666; font-family: verdana,arial,helvetica,sans-serif; font-size: 7pt; text-decoration: none; }
.topinclude  a:link		{ color: #666666; background-color: transparent; text-decoration: none; }
.topinclude  a:visited	{ color: #666666; background-color: transparent; text-decoration: none; }
.topinclude  a:active	{ color: #666666; background-color: transparent; text-decoration: none; }
.topinclude  a:hover	{ color: #000000; background-color: transparent; text-decoration: underline; }

.topincludefrontpage			{ color: #666666; font-family: verdana,arial,helvetica,sans-serif; font-size: 7pt;  font-weight:normal; }
.topincludefrontpage a			{ color: #666666; font-family: verdana,arial,helvetica,sans-serif; font-size: 7pt; text-decoration: underline; }
.topincludefrontpage a:link		{ color: #666666; background-color: transparent; text-decoration: underline; }
.topincludefrontpage a:visited	{ color: #666666; background-color: transparent; text-decoration: underline; }
.topincludefrontpage a:active	{ color: #666666; background-color: transparent; text-decoration: underline; }
.topincludefrontpage a:hover	{ color: #000000; background-color: transparent; text-decoration: underline; }

.footer					{ font-size: 8pt; color: #666666; font-family: verdana,arial,helvetica,sans-serif; font-weight:normal; }
.footer a				{ color: #666666; font-family: verdana,arial,helvetica,sans-serif; font-size: 8pt; }
.footer a:link			{ color: #666666; background-color: transparent; text-decoration: none; }
.footer a:visited		{ color: #666666; background-color: transparent; text-decoration: none; }
.footer a:active		{ color: #666666; background-color: transparent; text-decoration: none; }
.footer a:hover			{ color: #666666; background-color: transparent; text-decoration: underline; }

.formular				{ border: 1px; border-color:#666666; border-style: solid; }

/* *** Menu *** */

/*.navi, .navi p	{ font-family: Verdana; font-size: 8pt; color: #FFFFFF;font-variant:small-caps }
.navi a			{ font-family: verdana,arial,helvetica,sans-serif; font-size: 8pt; color: #ffffff; }
.navi a:link	{ color: #ffffff; background-color: transparent; text-decoration: none; }
.navi a:visited	{ color: #ffffff; background-color: transparent; text-decoration: none; }
.navi a:active	{ color: #ffffff; background-color: transparent; text-decoration: none; }
.navi a:hover	{ color: #ec7c0c; background-color: transparent; text-decoration: none; }
*/

a.navilang 			{ font-family: verdana,arial,helvetica,sans-serif; font-size: 8pt; color: #ffffff; font-variant:small-caps}
a.navilang:link	{ color: #ffffff; background-color: transparent; text-decoration: none; }
a.navilang:visited	{ color: #ffffff; background-color: transparent; text-decoration: none; }
a.navilang:active	{ color: #ffffff; background-color: transparent; text-decoration: none; }
a.navilang:hover	{ color: #ec7c0c; background-color: transparent; text-decoration: none; }

/*.navi, .navi p	{ font-family: Verdana; font-size: 8pt; color: #FFFFFF;font-variant:small-caps }*/
a.navi 			{ font-family: verdana,arial,helvetica,sans-serif; font-size: 8pt; color: #ffffff; font-variant:small-caps}
a.navi:link	{ color: #ffffff; background-color: transparent; text-decoration: none; }
a.navi:visited	{ color: #ffffff; background-color: transparent; text-decoration: none; }
a.navi:active	{ color: #ffffff; background-color: transparent; text-decoration: none; }
a.navi:hover	{ color: #ec7c0c; background-color: transparent; text-decoration: none; }

a.navisel 			{ font-family: verdana,arial,helvetica,sans-serif; font-size: 8pt; color: #ec7c0c; font-variant:small-caps}
a.navisel:link	{ color: #ec7c0c; background-color: transparent; text-decoration: none; }
a.navisel:visited	{ color: #ec7c0c; background-color: transparent; text-decoration: none; }
a.navisel:active	{ color: #ec7c0c; background-color: transparent; text-decoration: none; }
a.navisel:hover	{ color: #ffffff; background-color: transparent; text-decoration: none; }

/*.globalnav, .globalnav p{ font-family: Verdana; font-size: 8pt; color: #000;font-variant:small-caps }*/
a.globalnav 			{ font-family: verdana,arial,helvetica,sans-serif; font-size: 8pt; color: #000; font-variant:small-caps}
a.globalnav:link	{ color: #000; background-color: transparent; text-decoration: none; }
a.globalnav:visited	{ color: #000; background-color: transparent; text-decoration: none; }
a.globalnav:active	{ color: #000; background-color: transparent; text-decoration: none; }
a.globalnav:hover	{ color: #c97624; background-color: transparent; text-decoration: none; }

a.globalsel 			{ font-family: verdana,arial,helvetica,sans-serif; font-size: 8pt; color: #c97624; font-variant:small-caps}
a.globalsel:link	{ color: #c97624; background-color: transparent; text-decoration: none; }
a.globalsel:visited	{ color: #c97624; background-color: transparent; text-decoration: none; }
a.globalsel:active	{ color: #c97624; background-color: transparent; text-decoration: none; }
a.globalsel:hover	{ color: #000000; background-color: transparent; text-decoration: none; }


.subnav, .subnav p{ font-family: Verdana; font-size: 8pt; color: #000;font-variant:small-caps }
.subnav a			{ font-family: verdana,arial,helvetica,sans-serif; font-size: 8pt; color: #000; }
.subnav a:link	{ color: #000; background-color: transparent; text-decoration: none; }
.subnav a:visited	{ color: #000; background-color: transparent; text-decoration: none; }
.subnav  a:active	{ color: #000; background-color: transparent; text-decoration: none; }
.subnav a:hover	{ color: #c97624; background-color: transparent; text-decoration: none; }


.navibutton				{ font-family: verdana, arial, helvetica, sans-serif; font-size: 7pt; color: #ffffff; border-width: 1px 1px 1px 1px; padding-left: 6px; padding-right: 3px; padding-top: 2px; padding-bottom: 2px; }
.navibutton a:link    	{ color: #ffffff; background-color: transparent; text-decoration: none; }
.navibutton a:visited	{ color: #ffffff; background-color: transparent; text-decoration: none; }
.navibutton a:hover   	{ color: #ffffff; background-color: transparent; text-decoration: underline; }

.breadcrumbs			{ margin-top:16px; width:319; }
.breadcrumbs a			{ }
.breadcrumbs a:link		{ }
.breadcrumbs a:visited	{ }
.breadcrumbs a:active	{ }
.breadcrumbs a:hover	{ }

.errorheader			{ font-family: verdana,arial,helvetica,sans-serif; color: #ff0000; font-size: 13pt;  font-weight:normal; text-align: left; }
.errormessage			{font: 7pt verdana, ms sans serif; font-weight: bold; color: #ff0000;  text-decoration: none}
.advismessage			{font: 7pt verdana, ms sans serif; font-weight: bold; color: #495969;  text-decoration: none}

/* *** */


.smalltext 				{ font-family: verdana,arial,helvetica,sans-serif; color: #000000; font-size: 7pt;  font-weight: normal; }
.smalltext a			{ font-family: verdana,arial,helvetica,sans-serif; font-size: 7pt; color: blue; font-weight: normal; }
.smalltext a:link		{ color: blue; text-decoration: none; }
.smalltext a:visited	{ color: blue; text-decoration: none; }
.smalltext a:active 	{ color: blue; text-decoration: none; }
.smalltext a:hover		{ color: blue; text-decoration: underline; }



.blueheadline { background-color: #083C73; font-weight: bold; font-size: 10pt; color: #FFFFFF; font-family: verdana,arial,helvetica,sans-serif; text-align: center; padding:4px; }

.inputx 	{ font-size: 8pt; font-family: verdana,arial,helvetica,sans-serif; }
.input10	{ font-size: 8pt; width: 10em; font-family: verdana,arial,helvetica,sans-serif; }
.input15	{ font-size: 8pt; width: 15em; font-family: verdana,arial,helvetica,sans-serif; }
.input18	{ font-size: 8pt; width: 18em; font-family: verdana,arial,helvetica,sans-serif; }
.input25 	{ font-size: 8pt; width: 25em; font-family: verdana,arial,helvetica,sans-serif; }
.input35 	{ font-size: 8pt; width: 35em; font-family: verdana,arial,helvetica,sans-serif; }
.input50 	{ font-size: 8pt; width: 50em; font-family: verdana,arial,helvetica,sans-serif; }
/***** FORMATERING AF AKTIVT MENUPUNKT *****/

a.selected {color:#ec7c0c;text-decoration:none;}
a.selected:link {color:#ec7c0c;	text-decoration:none;}
a.selected:visited {color:#ec7c0c;	text-decoration:none;}
a.selected:hover {color:#666;text-decoration:none;}
a.selected:active {color:#ec7c0c;text-decoration:none;}

.print, a.print:link,a.print:visited, a.print:hover {text-decoration:none;}